body{
    background-color: antiquewhite;
    margin: 0;
}


.header{
  
    background-color: rgb(75, 74, 41);
    padding: 0;
    width: 100%;
    position: fixed;

      top:0;
      /* margin-bottom: 2rem; */
       
 

}


#products{
    margin-top: 10rem;
        margin-bottom: 10rem;
    display: grid;
    grid-template-columns: auto auto auto;
    


}
.product{
    width: 450px;
    height: 450px;
    border: 2px solid black;
    margin: 20px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer{
    background-color: rgb(164, 148, 237);
   
  position: fixed;
  bottom: 0;
width: 100%;
    
}
